textarea.address {
	height: 2.5em;
	overflow: hidden;
}
a.demo {
	display: inline-block;
}
.inline button,.controls button {
	display: inline-block;
	background: #999;
}
.inline button.selected, .controls button.selected {
	background: #1a1a1a;
}