/*styles for graphic info (hed, subhed, source, credit)*/
.rg-container {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 1em 0;
	padding: 0.75em 0 0 0;
	color: #1a1a1a;
	border-top: 1px solid #ccc;
	clear: both;
}
.rg-header {
	margin-bottom: 0.5em;
}
.rg-hed {
	font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.35em;
}
.rg-subhed {
	font-size: 1em;
	line-height: 1.4em;
}
.rg-source-and-credit {
	font-family: Georgia,"Times New Roman", Times,serif;
	width: 100%;
	overflow: hidden;
	margin-top: 1em;
}
.rg-source {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 0.75em;
	line-height: 1.5em;
}
.rg-source .pre-colon {
	text-transform: uppercase;
}
.rg-credit {
	margin: 0;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	float: right;
	text-align: right;
	font-size: 0.65em;
	line-height: 1.5em;
}
/*styles for graphic*/
.rg-map {
	margin: 0;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
}
.rg-map * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
	color: #333;
}
.rg-container.pull-map-right {
	float: right;
	max-width: 320px;
	width: 100%;
	margin-left: 1em;
}
.rg-map-container {
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.leaflet-container p.rg-map-popup {
	padding: 0 0.75em 0.5em 0.75em;
	margin: 0;
}
.leaflet-container .leaflet-control-attribution {
	display: none;
}
@media (max-width: 640px) {
.rg-source-and-credit > div {
	width: 100%;
	display: block;
	float: none;
	text-align: right;
}
.rg-container.pull-map-right {
	float: none;
	max-width: 100%;
	width: 100%;
	margin-left: 0;
}
}